<!-- Footer partial. -->
<footer class="footer has-background-info-light" style="padding-top: 20px; padding-bottom: 25px;">
    <div class="container">
      <div class="level">
        <div class="level-left">
          <span class="level-item">
            Styled by &nbsp;<img src="https://bulma.io/assets/brand/Bulma%20Logo.png" alt="Bulma Logo" width="60">
          </span>
        </div>
        <div class="level-right">
          <div class="level-item">
            <div class="content has-text-centered has-text-white-invert">©2025 S.S.A. Anin</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  